---
import {Layout} from '../layouts'; // Import the layout component
const currentPath = Astro.url.pathname;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Геодезия - инженерные изыскания и проектирование </title>
	</head>
	<body>
        <Layout currentPath={currentPath}>
            <h1>About Company Page</h1>
        </Layout>
	</body>
</html>
